---
import { Image } from 'astro:assets';
import BaseLayout from '../../layouts/BaseLayoutFull.astro';
import Prose from '../../components/Prose.astro';

import { getCollection, render } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('films');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);

---

<BaseLayout pageTitle={post.data.title}>

    <!-- hero -->
    <section id="hero" class="sec">
        <div class="herohalf">
            <Image src={post.data.cover} class="herohalfimage" alt=""/>
        </div>
    </section>

    <!-- movie -->
    <section class="sec">
        <div class="secdiv grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">
            <div class="col-span-1 md:col-span-2">
                <div class="flex-none"><a href="/films"><div class ="pagecat">FILM</div></a></div>
                <div class = "pageh pattbg">{post.data.title}</div>
            </div>
            <div>
                <Image src={post.data.poster} alt=""/>
            </div>
            <div class="flex flex-col">
                <div class="sech2 flex-none">✏️ Details</div>

                <div class="secb grow">
                    <div class="grid grid-cols-4">
                        <div class="col-span-1 font-bold">Date</div>
                        <div class="col-span-3">{post.data.date.toUTCString().slice(0,16)} {post.data.time}</div>
                        <div class="col-span-1 font-bold">Project</div>
                        <div class="col-span-3"><a href={post.data.projectlink} class="link">{post.data.projectname}</a></div>
                        <div class="col-span-1 font-bold">Genre</div>
                        <div class="col-span-3">{post.data.genre.join(", ")}</div>
                        
                        <div class="col-span-1 font-bold">Runtime</div>
                        <div class="col-span-3">{post.data.runtime} mins</div>
                    </div>      
                </div>

                <!-- Trailer -->
                <div class="secb flex-none">
                    {post.data.trailerisyt ?
                        <iframe class="w-full aspect-video" src={`https://www.youtube.com/embed/${post.data.traileryt}`} title={`[Trailer] ${post.data.title}`} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        :
                        <a href= {post.data.trailernonyt} class=""><div class="buttonbg hoveranimlg"><div class="button">📽️ Trailer</div></div></a>
                    }
                </div>

                <!-- watchlink -->
                <div class="secb flex-none">
                    <a href= {post.data.watchlink} class=""><div class="buttonbg hoveranimlg"><div class="button">🎞️ Watch here</div></div></a>
                </div>

            </div>
        </div>
    </section>

    <!-- details -->
    <section id="details" class="sec">
        <div class="secdiv">
            <div class="">
                <Prose>
                    <Content />
                </Prose>

                {post.data.displaygallery && 
                    <div class="sech2 mt-8">📸 Gallery</div>
                    <div class="secb">                
                        <div class="flex flex-row flex-nowrap items-center gap-x-4 overflow-x-scroll touch-auto snap-x snap-mandatory">
                            {post.data.gallery.map(gallery =>
                                <div class="snap-center w-full flex-none">
                                    <Image src={gallery} alt="" class="aspect-3/2 object-cover" />
                                </div>
                            )}
                        </div>
                        <div class="w-full text-center text-sm text-zinc-500 pt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" /></svg>
                            scroll to see more
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline">  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" /></svg>
                        </div>
                    </div>
                }
                {post.data.displaygallerylink && 
                    <div>
                        📖 read more at: <a class="link" href={post.data.gallerylink}>{post.data.gallerylink}</a>
                    </div>
                }
            </div>
        </div>
    </section>

</BaseLayout>