---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayoutFull.astro';
import Prose from '../components/Prose.astro';

const pageTitle = "About - Siriraj Motion Picture Club";

// set var "ay" as academic year (apr - mar)
const d = new Date();
let month = d.getMonth();
let year = d.getFullYear();
var ay = year
if (month <= 3) {
	var ay = year - 1;
};

import { getCollection } from 'astro:content';
// latest team = current academic year (entries that match with var "ay"), sorted by id
const latestTeam = (await getCollection('team', ({ data }) => {return data.ay == ay;})).sort((a, b) => a.data.id - b.data.id);
// alumni = previous team (entries that don't match with var "ay"), sorted by id
const alumniTeam = (await getCollection('team', ({ data }) => {return data.ay !== ay;})).sort((a, b) => a.data.id - b.data.id);

import Content from '../content/about.md';
import contentImg from '../assets/banners/about.jpg';
---
<BaseLayout pageTitle={pageTitle}>
	
	<section id="hero">
		<div class="herohalf-resp" style={`background-image: url(${contentImg.src});`}>
			<div class="flex size-full backdrop-brightness-50">
				<span class="m-auto text-4xl font-bold">ABOUT US</span>
			</div>
        </div>
    </section>


	<!-- info -->
	<section class="sec">
		<div class="secdiv">
			<div class="sech pattbg">
				<p>Who Are We?</p>
			</div>
			<div class="secb">
				<Prose>
					<Content />
				</Prose>
			</div>
		</div>
	</section>

	<!-- teams -->
	<section class="sec">
		<div class="secdiv">
			<div class="sech pattbg">
				<p>Our Team</p>
			</div>
			<div class="secb grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
				<!-- map "latest team" entries -->
				{latestTeam.map((post: any) => 
				<div class="flex flex-col place-items-center">
					<div class=""><Image src={post.data.cover} alt="" /></div>
					<div class="nameh">{post.data.nickname}</div>
					<div class="nameb">{post.data.name}<br><small class="italic">SI{post.data.si} {post.data.line}</small><br><span class="font-bold">{post.data.position}</span></div>
				</div>)}
			</div>
		</div>
	</section>

	<!-- alumni -->
	<section class="sec">
		<div class="secdiv">
			<div class="sech pattbg">
				<p>Alumni</p>
			</div>
			<div class="secb">
				<!-- import library for grouping -->
				<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

				<!-- group "alumni" entries by var "ay" -->
				<script>
					var groups = {};
					$('.alumni').each(function () { 
						var className = this.getAttribute("alumni-ay"),
						$group = groups[className];
						if (!$group) {
							$group = $('<div />', {
								'class': 'grouping grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 gap-4 gap-4'
							}).insertAfter(this);
							groups[className] = $group;
						}
						$group.append(this);
					})
				</script>

				<!-- map "alumni" entries -->
				{alumniTeam.map((post: any) => <div class="alumni" alumni-ay={post.data.ay}>
					<div class="flex flex-col place-items-center">
						<div class=""><Image src={post.data.cover} alt="" /></div>
						<div class="alumh">{post.data.nickname}</div>
						<div class="alumb">{post.data.name}<br><small class="italic">SI{post.data.si} {post.data.line}</small><br><span class="font-bold">{post.data.position}, {post.data.ay}</span></div>
					</div>
				</div>)}

			</div>
		</div>
	</section>

</BaseLayout>