---
import BaseLayout from '../layouts/BaseLayout.astro';
const allFilms = Object.values(import.meta.glob('./films/*.md', { eager: true }));
const pageTitle = "Films - Siriraj Motion Picture Club";
---
<BaseLayout pageTitle={pageTitle}>
	
	<div class ="pagetitle">FILMS</div>

	<div class="columns-1 lg:columns-2 2xl:columns-3 gap-4">
		{allFilms.reverse().map((post: any) => 
			<div class="columns-2 pb-4">
				<a href={post.url}>
					<img src={post.frontmatter.image}>
					<div class="sectionh">{post.frontmatter.title}</div>
					<div class="sectionb">
						<p class="font-bold pb-2">{post.frontmatter.date.month} {post.frontmatter.date.day}, {post.frontmatter.date.year}</p>
						<p class="text-sm">Runtime {post.frontmatter.runtime.hour} h {post.frontmatter.runtime.min} m {post.frontmatter.runtime.sec} s<br>
						{post.frontmatter.genre}</p>
                	</div> 
				</a>
			</div>)}
	</div>

</BaseLayout>